#part-1-heading{
    /* border: 1px solid black; */
    width: 1600px;
    height: 92px;
    padding: 16px 120px;
    display: flex;
    gap: 346px;
}
.heading-title{
    display: flex;
    gap: 32px;
    text-align: center;
    font-family: "Inter", sans-serif;
}
button{
    width: 144px;
    height: 44px;
    padding: 12px 16px;
    background-color: #30B868;
    border-radius: 5px;
    border: none;
    font-family: "Inter", sans-serif;
}
#part-2{
    width: 1600px;
    height: 674px;
    border: 1px solid black;
    text-align: center;
    background-image: url("assets/hero-bg.png");
    color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  

    
}
.div-1{
    width: 229px;
    height: 35px;
    background-color: white;
    border-radius: 40px;
    margin: auto;
    padding: 2px;
    padding-bottom: 15px;
    margin-top: 154px;
}
.early{
    color: rgba(48, 184, 104, 1);
}
.div-3{
    color:rgba(48, 184, 104, 1); ;
    margin-top: 10px;
}
h1{
    font-size: 60px;
}
.part2-btn{
    width: 251px;
    height: 52px;
    background-color: rgba(48, 184, 104, 1);
    color: white;
    font-weight: bold;
    margin-right: 16px;
    border-radius: 5px;
}
.part2-btn:hover{
    background-color: blue;
}
.part2-btn2{
    background-color:rgba(255, 255, 255, 0);
    width: 251px;
    height: 52px;
    border: 1px solid black;
    padding: 12px 16px;
    color: white;
    font-weight: bold;
    border-radius: 5px;

}
.part2-btn2:hover{
    background-color: blue;
}

#main-part{
    width: 1600px;
    height: 152px;
    font-size: 10px;
    text-align: center;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}
.part3-p{
    font-size: 10px;
}
.logo{
    background-color: rgba(141, 26, 10, 0.973);
    padding: 10px;
 border-radius: 100%;
 margin-top: 40px;
}
.part-3{
    display: flex;
    gap: 24px;
    width: 1360px;
    height: 448px;
    /* margin-left: 120px; */
    /* margin-right: 120px; */
     font-family: "Inter", sans-serif;
     align-items: center;

}
.finished{
    width: 1360px;
    height: 448px;
    margin-left: 120px;
    margin-right: 120px;
}
.part3-div-1{
    width: 322px;
    height: 300px;
    padding: 24px;
    text-align: center;
    box-shadow:0px -3px 8px -4px black;
    
}
.part3-h2{
    font-size: 30px;
    margin-top: 20px;
}
.section-4{
    width: 1360px;
    height: 600px;
    margin-top: 120px;
    display: flex;
    gap: 60px;
    align-items: center;
    margin-right: 120px;
    margin-left: 120px;
}
.section4-title{
    width: 1600px;
    height: 396px;
    padding-right: 91px;
    font-family: "Inter", sans-serif;
    align-items: center;
}
.title-p{
    color: rgb(14, 170, 61);
}
.title-p-p{
color: #757575;
}
.section4-div{
    font-weight: bold;
    
}
i{
    color: rgb(7, 136, 7);
}
.last-section{
    width: 1360px;
    height: 384px;
    text-align: center;
    padding: 80px 40px;
    background-color: #6273821c;
    font-family: "Inter", sans-serif;
    margin-top: 240px;
    margin-left: 120px;
    margin-right: 120px;
}
.last-p{
    color: rgb(129, 129, 129);
}
.last-btn{
    width: 194px;
    height: 52px;
    padding: 12px 16px ;
    background-color: #30B868;
    color: white;
    font-family: "Inter", sans-serif;
}
.last-btn:hover{
    background-color: #30B868;
}
.fa-solid.fa-arrow-right{
color: white;
}
.fa-solid.fa-play{
    color: rgb(255, 255, 255);

}
.footer{
    background-color: rgb(14, 14, 48);
    width: 1600px;
    height: 348px;
    padding: 120px;
    padding-right: 5px;
    margin-top: 120px;
}
.footer-div{
    display: flex;
    gap: 794px;
}
h4{
    color: white;
    font-family: "Inter", sans-serif;
    background-color: rgb(33, 33, 131);

}
.social-link{
    display: flex;
    gap: 16px;
}
.final{
    margin-top: 80px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: "Inter", sans-serif;

}
hr{
    margin-top: 200px;
}
.line{
    width: 1360px;
    border: .30px solid white;
    margin-top: 200px;
}
.last-btn:hover{
    background-color: aqua;
}
.fa-regular.fa-copyright{
    color: white;
}