#part-1-heading{
    border: 1px solid black;
    width: 1600px;
    height: 92px;
    padding: 16px 120px;
    display: flex;
    gap: 346px;
}
.heading-title{
    display: flex;
    gap: 32px;
    text-align: center;
}
button{
    width: 144px;
    height: 44px;
    padding: 12px 16px;
    background-color: #30B868;
    border-radius: 5px;
}
#part-2{
    width: 1600px;
    height: 674px;
    border: 1px solid black;
    text-align: center;
    background-image: url("assets/hero-bg.png");
    color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

    
}
.div-1{
    width: 229px;
    height: 35px;
    background-color: white;
    border-radius: 40px;
    margin: auto;
    padding: 2px;
    padding-bottom: 15px;
    margin-top: 154px;
}
.early{
    color: rgba(48, 184, 104, 1);
}
.div-3{
    color:rgba(48, 184, 104, 1); ;
    margin-top: 10px;
}
h1{
    font-size: 60px;
}
.part2-btn{
    width: 251px;
    height: 52px;
    background-color: rgba(48, 184, 104, 1);
    color: white;
    font-weight: bold;
    margin-right: 16px;
    border-radius: 5px;
}
.part2-btn2{
    background-color:rgba(255, 255, 255, 0);
    width: 251px;
    height: 52px;
    border: 1px solid black;
    padding: 12px 16px;
    color: white;
    font-weight: bold;
    border-radius: 5px;

}

